<section class="has-background-info">
  <section class="hero container">
    <div
      class="hero-body is-flex is-justify-content-space-between is-align-content-center is-align-items-center"
    >
      <h1 class="title">{{ yearData.label }}</h1>
      <p class="subtitle">
        <a [routerLink]="TEAMS_URL">Back to Our Teams</a>
      </p>
    </div>
  </section>
</section>

<section class="container section">
  <article class="columns">
    <section class="column is-one-fifth-tablet">
      <aside class="menu">
        <p class="menu-label">Team(s)</p>
        <ul class="menu-list sub-menu">
          @for (teams of storeService.teams$ | async; track teams) {
          <li>
            <a
              [routerLink]="createUnderRouter(teams.slug)"
              [routerLinkActive]="'is-active'"
            >
              {{ teams.name }}
            </a>
          </li>
          }
        </ul>
      </aside>
    </section>

    <section class="column">
      <section class="columns m-0">
        <section
          class="column content"
          *ngIf="storeService.team$ | async as team"
        >
          <h1>{{ team?.name }}</h1>
        </section>
      </section>

      <div class="tabs mb-6">
        <ul *ngIf="storeService.team$ | async as team">
          <li [class.is-active]="detail.isActive">
            <a
              [routerLink]="createUnderRouter(team.slug)"
              routerLinkActive="is-active"
              [routerLinkActiveOptions]="{ exact: true }"
              #detail="routerLinkActive"
            >
              <span>Team Info</span>
            </a>
          </li>

          <li [class.is-active]="info.isActive">
            <a
              [routerLink]="createUnderRouter(team.slug, 'info')"
              routerLinkActive="is-active"
              #info="routerLinkActive"
            >
              <span>Training day</span>
            </a>
          </li>

          <li [class.is-active]="match.isActive">
            <a
              [routerLink]="createUnderRouter(team.slug, 'match')"
              routerLinkActive="is-active"
              #match="routerLinkActive"
            >
              <span>Match day</span>
            </a>
          </li>
          <li [class.is-active]="match.isActive">
            <a
              [routerLink]="createUnderRouter(team.slug, 'resources')"
              routerLinkActive="is-active"
              #match="routerLinkActive"
            >
              <span>Resources</span>
            </a>
          </li>
        </ul>
      </div>

      <section class="columns">
        <section class="column is-two-thirds-tablet content">
          <router-outlet></router-outlet>

          <h2 class="subtitle is-5">Officals</h2>

          <ng-container *ngIf="storeService.team$ | async as team">
            @for (official of team.officialsCollection.items; track official) {
            <lib-officials
              [official]="official"
              [showEmail]="false"
              class="mb-5"
            ></lib-officials>
            }
          </ng-container>
        </section>

        <section class="column" *ngIf="storeService.team$ | async as team">
          <lib-ui-figure
            [image]="
              team?.image?.url
                ? $any(team?.image?.url)
                : '/assets/img/football-1396740_1280.jpg'
            "
            class="mb-2"
          ></lib-ui-figure>

          <section
            class="content"
            *ngIf="team?.sponsorCollection?.items?.length"
          >
            <h3 class="subtitle is-5">Our Sponsors</h3>
            <div class="columns is-multiline is-vcentered">
              @for (sponsor of team.sponsorCollection.items; track sponsor) {
              <div class="column">
                <a [href]="sponsor?.domain" target="_blank">
                  <figure class="image is-64x64">
                    <img
                      [attr.src]="sponsor.logo.url"
                      [attr.alt]="sponsor.name"
                    />
                  </figure>
                </a>
              </div>
              }
            </div>
          </section>
        </section>
      </section>
    </section>
  </article>
</section>
