<section class="has-background-info">
  <section class="hero container">
    <div
      class="hero-body is-flex is-justify-content-space-between is-align-content-center is-align-items-center"
    >
      <h1 class="title">Under 11’s</h1>
      <a href="">Back to Our Teams</a>
    </div>
  </section>
</section>

<section class="container section">
  <article class="columns">
    <section class="column is-one-fifth-tablet">
      <lib-ui-button class="mb-2"></lib-ui-button>
      <lib-ui-button></lib-ui-button>
    </section>

    <section class="column">
      <nav>
        <a href="">Team Info</a>
        <a href="">Fixtures</a>
      </nav>

      <section class="columns">
        <section class="column is-two-thirds-tablet content">
          <h1 class="subtitle is-4">Athletics Team</h1>
          <p>
            A few lines of text about the team. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Cras blandit orci ullamcorper,
            malesuada tortor a, laoreet mi. Sed ut velit eget mi suscipit
            mattis. Donec sagittis sem nunc, vel ullamcorper ligula elementum
            vel.
          </p>
          <h2 class="subtitle is-5">Training</h2>
          <p>
            A few lines of text about the team. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Cras blandit orci ullamcorper,
            malesuada tortor a, laoreet mi. Sed ut velit eget mi suscipit
            mattis. Donec sagittis sem nunc, vel ullamcorper ligula elementum
            vel.
          </p>
        </section>
        <section class="column">
          <lib-ui-figure class="mb-2"></lib-ui-figure>

          <section class="content">
            <h3 class="subtitle is-5">Our Sponsors</h3>
            <img src="assets/img/GR.png" />
            <img src="assets/img/GR.png" />
            <img src="assets/img/GR.png" />
          </section>
        </section>
      </section>
    </section>
  </article>
</section>
