<app-ui-hero></app-ui-hero>

<section class="section container has-text-centered">
  <h1 class="title">Our Teams</h1>

  <app-teams-widget></app-teams-widget>
</section>

<ng-container *ngIf="storeService.value$ | async as value">
  <section class="section has-background-info">
    <div class="container has-text-centered">
      <h1 class="title">Our Value</h1>
      <div class="grid">
        @for (figure of value?.list; track figure) {
        <lib-ui-figure [image]="figure?.file?.fields?.file.url" class="cell">
          {{ figure.fields.details }}
        </lib-ui-figure>
        }
      </div>
      <div class="is-flex is-justify-content-center">
        <button class="button">More about our values</button>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">
      <lib-ui-figure
        [image]="value.hero.file.fields.file.url"
        [subtitle]="true"
      >
        {{ value.hero.fields.details }}
      </lib-ui-figure>
    </div>
  </section>
</ng-container>
