<lib-ui-hero></lib-ui-hero>

<section class="section container has-text-centered">
  <h1 class="title">Our Teams</h1>
  <div class="grid">
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
  </div>
</section>

<section class="section has-background-info">
  <div class="container has-text-centered">
    <h1 class="title">Our Value</h1>
    <div class="grid">
      <lib-ui-figure class="cell" background="secondary">
        Honesty, respect, compassion and integrity
      </lib-ui-figure>
      <lib-ui-figure class="cell" background="tertiary">
        Teamwork, equality and Discipline
      </lib-ui-figure>
      <lib-ui-figure class="cell">
        Keeping football safe and enjoyable for all
      </lib-ui-figure>
    </div>
    <div class="is-flex is-justify-content-center">
      <button class="button">More about our values</button>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <lib-ui-figure [subtitle]="true">
      20+ years of making a Positive Difference in the lives of Young Children
    </lib-ui-figure>
  </div>
</section>
