<section class="columns">
  <section class="column content">
    <p>
      <b>Training</b>: Training sessions are held once a week and include a mix
      of skill drills, small-sided games, and fun activities to help players
      improve their dribbling, passing, shooting, and teamwork. Our friendly
      coaches are passionate about helping each child develop at their own pace.
    </p>
    <!-- <ul>
      <li><b>Winter training</b></li>
      <li>West Exe Secondary School</li>
      <li>18:00 - 19:00</li>
    </ul>
    <ul>
      <li><b>Summer training</b></li>
      <li>Cowick Barton playing fields</li>
      <li>18:00 - 19:00</li>
    </ul> -->
  </section>
</section>
