<section class="columns">
  <section class="column content">
    <h1 class="subtitle is-4">Info</h1>
    <p>
      A few lines of text about the team. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras blandit orci ullamcorper, malesuada
      tortor a, laoreet mi. Sed ut velit eget mi suscipit mattis. Donec sagittis
      sem nunc, vel ullamcorper ligula elementum vel.
    </p>
    <h2 class="subtitle is-5">Training</h2>
    <p>
      A few lines of text about the team. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras blandit orci ullamcorper, malesuada
      tortor a, laoreet mi. Sed ut velit eget mi suscipit mattis. Donec sagittis
      sem nunc, vel ullamcorper ligula elementum vel.
    </p>
  </section>
</section>
