<section class="has-background-info">
  <section class="hero container">
    <div
      class="hero-body is-flex is-justify-content-space-between is-align-content-center is-align-items-center"
    >
      <h1 class="title">About us</h1>
    </div>
  </section>
</section>

<section class="hero container">
  <section class="hero-body">
    <app-rte [rte]="(page$ | async)?.content?.json?.content"></app-rte>
  </section>

  <section class="hero-body">
    <h2 class="title is-size-4">Meet the committee members</h2>
    <div class="columns is-multiline">
      @for (item of officials$ | async; track item) {
      <lib-officials
        class="column is-half officials"
        [official]="item"
        [isCommittee]="true"
      ></lib-officials>
      }
    </div>
  </section>
</section>
