<h2>Resources</h2>
<section class="columns is-multiline">
  <section class="column is-half">
    <div class="card">
      <div class="card-content">
        <p class="title is-5">The Grassroots Code for Youth Football</p>
        <p>23 Aug 2024</p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            View on
            <a
              href="https://www.englandfootball.com/participate/behaviour/the-grassroots-code"
            >
              England Football
            </a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            <a href="/assets/pdf/grassroots_code_for_youth.pdf" download>
              View PDF
            </a>
          </span>
        </p>
      </footer>
    </div>
  </section>

  <section class="column is-half">
    <div class="card">
      <div class="card-content">
        <p class="title is-5">
          The Grassroots Code for Adults in Youth Football
        </p>
        <p>23 Aug 2024</p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            View on
            <a
              href="https://www.englandfootball.com/participate/behaviour/the-grassroots-code"
            >
              England Football
            </a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            <a
              href="/assets/pdf/Grassroots_Code_For_Adults_In_Youth_Football_PERSONALISE_0824-V1.pdf"
              download
            >
              View PDF
            </a>
          </span>
        </p>
      </footer>
    </div>
  </section>

  <section class="column is-half">
    <div class="card">
      <div class="card-content">
        <p class="title is-5">
          View our <b>parent helper</b> role and responsibilities
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            <a href="/assets/pdf/Parent_Helper_info.pdf" download> View PDF </a>
          </span>
        </p>
      </footer>
    </div>
  </section>

  <section class="column is-half">
    <div class="card">
      <div class="card-content">
        <p class="title is-5">
          View our <b>parent rep</b> role and responsibilities
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            <a href="/assets/pdf/Parent_Rep_info.pdf" download> View PDF </a>
          </span>
        </p>
      </footer>
    </div>
  </section>

  <section class="column is-half">
    <div class="card">
      <div class="card-content">
        <p class="title is-5">
          View our <b>treasurer</b> role and responsibilities
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            <a href="/assets/pdf/Team_treasurer_info.pdf" download>
              View PDF
            </a>
          </span>
        </p>
      </footer>
    </div>
  </section>
</section>
