<lib-ui-app-bar></lib-ui-app-bar>

<router-outlet></router-outlet>

<section class="section has-background-info">
  <div class="container has-text-centered">
    <div class="grid">
      <figure class="cell">
        <img src="assets/img/Devon-Exeter-Football-League.png" />
      </figure>

      <figure class="cell">
        <img src="assets/img/devon-fa.png" />
      </figure>

      <figure class="cell">
        <img src="assets/img/england-football-accredited-club.png" />
      </figure>

      <figure class="cell">
        <img src="assets/img/exeter-youth-league-logo.png" />
      </figure>
    </div>
  </div>
</section>

<footer class="footer has-background-grey-darker">
  <section class="container">
    <div class="is-flex is-justify-content-space-between has-text-white">
      <div>Social</div>
      <p class="content">
        &copy; 2024. All Rights Reserved. West Exe Youth Football Club, Exeter
        in
        <br />
        Devon Devon Charter Standard Youth club
      </p>
    </div>
  </section>
</footer>
