<section class="columns">
  <section class="column content">
    <p>
      <b>Matches</b>: We participate in friendly matches and cups, ensuring that
      all players get fair playing time and the opportunity to shine. Our focus
      is on development and enjoyment, rather than just winning.
    </p>
    <p>Our match day kits is blue. Please see pic for example of the kit.</p>
    <p>Please see contact details of manager and coaches below.</p>
    <p>
      They is a small parking lot at Cowick Barton. The surrounding streets are
      free parking.
    </p>
  </section>
</section>

<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2526.421312525876!2d-3.546468723249088!3d50.712122471643404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da42b1a17edf1%3A0xa24d8be1474d701b!2sCowick%20Barton%20Playing%20Fields!5e0!3m2!1sen!2suk!4v1727018163656!5m2!1sen!2suk"
  width="100%"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
