@use 'bulma/sass/utilities/mixins';

:host {
  display: block;
  background-color: #dcfffd;

  .tactics {
    width: 20%;
    height: auto;
    position: absolute;
    right: 5%;
    bottom: 2%;
  }
}
