@use 'bulma/sass/utilities/mixins';

:host {
  display: block;
  background-color: #dcfffd;

  .tactics {
    @include mixins.mobile {
      width: calc(231px / 2);
      height: calc(183px / 2);
      max-width: calc(231px / 2);
    }

    width: 231px;
    height: 183px;
    max-width: 231px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
