<section class="has-background-info">
  <section class="hero container">
    <div
      class="hero-body is-flex is-justify-content-space-between is-align-content-center is-align-items-center"
    >
      <h1 class="title">Our teams</h1>
      <p class="subtitle">Age Groups U7’s - U18’s</p>
    </div>
  </section>
</section>

<section class="section container has-text-centered">
  <div class="grid">
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
    <lib-ui-button class="cell"></lib-ui-button>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <lib-ui-figure [subtitle]="true">
      Keeping football safe and enjoyable for all
    </lib-ui-figure>
  </div>
</section>
