<section class="has-background-info">
  <section class="hero container">
    <div
      class="hero-body is-flex is-justify-content-space-between is-align-content-center is-align-items-center"
    >
      <h1 class="title">Our teams</h1>
      <p class="subtitle">Age Groups U7's - U17's</p>
    </div>
  </section>
</section>

<section class="section container has-text-centered">
  <app-teams-widget></app-teams-widget>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="subtitle is-3">Keeping football safe and enjoyable for all</h2>
  </div>
</section>
